<div class="loginColumns animated fadeInDown">
    <div class="row">

        <div class="col-md-6">
            <h2 class="font-bold">Welcome to Travel Coint +</h2>

            <p>
                Party!
            </p>

            <p>
                Travel!
            </p>

            <p>
                Earn!
            </p>

            <p>
                <small>Spend.</small>
            </p>

        </div>
        <div class="col-md-6">
            <div class="ibox-content">
                <form class="m-t" role="form" action="index.html">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Username" required=""
                            ng-model="username"
                        >
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required=""
                               value="pwd"
                            ng-model="password"
                        >
                    </div>
                    <button type="submit" ng-click="loginUser()"
                            class="btn btn-primary block full-width m-b">Login</button>

                    <a href="#">
                        <small>Forgot password?</small>
                    </a>

                    <p class="text-muted text-center">
                        <small>Do not have an account?</small>
                    </p>
                    <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>
                </form>
                <p class="m-t">
                    <small>Travel Coin 3 &copy; 2014</small>
                </p>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <strong>Copyright</strong> Travel Coin
        </div>
        <div class="col-md-6 text-right">
            <small>© 2016</small>
        </div>
    </div>
</div>