<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="AssetController">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <img alt="image" class="img-circle" src="http://www.gravatar.com/avatar/3b3be63a4c2a439b013787725dfce802?d=identicon"/>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{ assetdata.name }}</strong>
                             </span>
                                <span class="text-muted text-xs block">Traveler <b class="caret"></b></span>
                            </span>
                    </a>
                </div>
                <div class="logo-element">
                    TCOIN+
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="assets.assets_grid"><i class="fa fa-globe"></i> <span class="nav-label">Wallet</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="assets.assets_grid_market"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Experience</span> </a>
            </li>
        </ul>

    </div>
</nav>