<div class="row border-bottom" ng-controller="AssetController">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <form role="search" class="navbar-form-custom" method="post" action="views/search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="{{ 'SEARCH' | translate }}" class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">

            <li class="dropdown" dropdown>
                <a class="dropdown-toggle count-info" href dropdown-toggle>
                    <i class="fa fa-btc"></i> <span class="label label-warning">{{ assetdata.total }}</span>
                </a>
            </li>
            <li>
                <a ui-sref="login">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
            <li>
                <a ng-click="$root.rightSidebar = !$root.rightSidebar">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
        </ul>

    </nav>
</div>